.our-creations-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  gap: 1.8vw;
  max-width: 100%;
}

.our-creations {
  height: fit-content;
} 

.creations-title {
  grid-column: span 3;
  margin-bottom: 50px;
}

.btn-see-all {
  justify-self: end;
  border: 2px solid #7e7e7e;
  border-radius: 2px;
  width: 62%;
  height: 38%;
  margin-bottom: 50px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.20rem;
  color: #1e1e1e;
  transition: 0.4s;
  font-size: 1vw;
}

.btn-see-all:hover {
  background: #292929;
  color: #ffffff;
  border: 2px solid #292929;
}

.creations-img {
  position: relative;
  height: 100%;
  cursor: pointer;
}

.creations-img img {
  width: 100%;
}

.creations-img::before {
  content: '';
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.creations-img.active::before {
  background: rgba(255, 255, 255, 0.8);
}

.creations-txt {
  position: absolute;
  bottom: 7%;
  left: 16%;
  max-width: 8ch;
  color: #ffffff;
  text-transform: uppercase;
  font-family: var(--hglight-font);
  font-weight: 300;
  font-variation-settings: "wght" 300, "GRAD" 88;
  font-size: 2vw;
  line-height: 2vw;
  z-index: 2;
}

.creations-txt.active {
  color: #000
}

.creations-txt-shorter {
  max-width: 4ch;
}

.creations-txt-longer {
  max-width: 12ch;
}

@media (min-width: 1700px) {
  .creations-txt {
    font-size: 1.6vw;
    line-height: 1.6vw;
    left: 15.5%;
  }
}

@media (max-width: 950px) {
  .btn-see-all {
    font-size: 1.2vw;
    margin-bottom: 30px;
  }

  .creations-title {
    margin-bottom: 30px;
  }
}

@media (max-width: 900px) {
  .our-creations {
    height: fit-content;
    max-width: 100vw;
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .our-creations-container {
    grid-template-columns: 1fr;
    gap: 4.8vw;
  }

  .creations-title {
    grid-column: span 1 / -1;
    text-align: center;
  }

  .creations-txt {
    bottom: 16%;
    left: 6%;
    font-size: 6vw;
    line-height: 6vw;
  }

  .creations-img::before {
    background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.5));
  }

  .btn-see-all {
    margin-bottom: 0px;
    order: 1;
    justify-self: center;
    font-size: 1.2rem;
    padding: 8px 40px;
    letter-spacing: 0.20rem;
  }
}