.our-creations-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.our-creations{
  height: fit-content;
} 

.creations-title {
  grid-column: span 3;
}

.btn-see-all {
  justify-self: end;
}

.creations-img {
  position: relative;
  height: 100%;
  filter: brightness(0.9);
}

.creations-txt {
  position: absolute;
  bottom: 56px;
  left: 40px;
  max-width: 5ch;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-variation-settings: "wght" 320, "GRAD" 88;
  font-size: 2rem;
  font-family: var(--hglight-font);
  line-height: 2rem;
}