.our-creations-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  gap: 28px;
}

.our-creations{
  height: fit-content;
} 

.creations-title {
  grid-column: span 3;
}

.btn-see-all {
  justify-self: end;
}

.creations-img {
  position: relative;
  height: 100%;
}

.creations-txt {
  position: absolute;
  bottom: 48px;
  left: 24px;
  max-width: 5ch;
  color: #fff;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 2rem;
  font-family: var(--hglight-font);
  line-height: 2.1rem;
}