footer {
  background: #000;
}

.footer-container {
  max-height: 160px;
  /* padding: 44px 164px; */
}

.menu-sec {
  color: #fff;
  display: flex;
  gap: 32px;
  font-size: 0.875rem;
}

.social-logos {
  display: flex;
  gap: 16px;
}

.social-logos img {
  max-width: 20px;
  cursor: pointer;
}

.logo-footer {
  max-width: 132px;
}

.disclaimer {
  color: var(--dark-gray);
  font-size: 0.875rem;
}
