.header-back {
  /* background: linear-gradient(45deg, #8c2fae, #b447f0); */
  background: url("../../public/desktop/image-hero.jpg") no-repeat;
  background-size: cover;
}

header {
  /* background: url("../../public/desktop/image-hero.jpg"); */
  background-size: cover;
  height: 65vh;
  max-width: 1440px;
  margin: 0 auto;
}

.top-menu {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 65px 165px;
}

.menu {
  display: flex;
  gap: 35px;
}

.main-title {
  font-family: var(--hglight-font);
  font-size: 4.5rem;
  font-weight: lighter;
  color: white;
  text-transform: uppercase;
  max-width: 12ch;
  margin: 65px 165px;
  border: 2px solid white;
  padding: 40px 70px 20px 40px;
}