/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Standards */
:root {
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);

  --hglight-font: "Josefin Sans", Helvetica, sans-serif;
  --body-font: "Alata", Helvetica, sans-serif;
}

body {
  font-family: var(--body-font);
}

.default-padding {
  padding: 160px 164px;
}