.the-leader h2 {
  font-family: var(--hglight-font);
  font-size: 3rem;
  font-weight: lighter;
  text-transform: uppercase;
  max-width: 14ch;
}

.the-leader p {
  color: var(--dark-gray);
  max-width: 46ch;
  line-height: 1.7rem;
}